/* SEASON PRODUCT */
.season-product {
  background-image: url("https://image.istarbucks.co.kr/upload/common/img/main/2021/2021_spring_bean_bg.jpg");
}
.season-product .product {
  position: absolute;
  bottom: 50px;
}
.season-product .inner {
  height: 570px;
}
.season-product .floating3 {
  position: absolute;
  top: -200px;
  right: 0;
}
.season-product .text-group {
  position: absolute;
  top: 180px;
  right: 100px;
}
.season-product .text-group .more {
  margin-top: 15px;
}
